{% load static i18n compress%}<!DOCTYPE html>
{% load bootstrap5 %}

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}MeetingInvite{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Project to create invitation for all kinds of meetings"
    />
    <meta name="author" content="Miguel Alber Cordova Dominguez" />

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- plantilla -->


    <link
      rel="icon"
      href="{% static 'base/images/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- Stylesheets-->
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Lato:300,400,700,400italic%7CJosefin+Sans:400,700,300italic"
    />
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  
    <style>
      .ie-panel {
        display: none;
        background: #212121;
        padding: 10px 0;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
        clear: both;
        text-align: center;
        position: relative;
        z-index: 1;
      }
      html.ie-10 .ie-panel,
      html.lt-ie-10 .ie-panel {
        display: block;
      }
    </style>

    <!-- <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}"> -->

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
      integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    {% compress css %}
    <!-- <link href="{% static 'css/project.css' %}" rel="stylesheet"> -->
    {% endcompress %} {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #} 
    {%block javascript %}
    <!-- Bootstrap JS -->
    <!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- Your stuff: Third-party javascript libraries go here -->

    <!-- place project specific Javascript in this file -->
    <!-- {% compress js %}
      <script defer src="{% static 'assets/js/project.js' %}"></script>
      {% endcompress %}

    {% endblock javascript %} -->

    <style>
      body {
        background-color: White;
      }
    </style>

  </head>

  <body >
      <!-- Page header-->
      {% include 'layouts/layoutbase.html' %}
      
      {% include 'layouts/carrusel.html' %}
      
      <!-- About Me-->
    <div class="invitation-info" style="background-color: #EFF0F2; padding-bottom: 60px;" >
      <section class="section section-md">
        <div class="shell">
          <h3 style="font-family: 'Playfair Display', serif; letter-spacing: 2px;  font-weight: normal;   font-style: italic;">¿Qué son las invitaciones digitales?</h3>
          <div class="range range-50 range-sm-center range-md-left range-md-middle range-md-reverse">
                <article class="quote-big wow fadeInLeftSmall" data-wow-delay=".1s">
                  <p style="font-family: 'Montserrat', sans-serif, Arial, sans-serif; font-size: 20px; font-style: italic; margin-bottom: 23px;">Es la invitación de tu boda, igual de bonita, igual de especial, pero con un mundo de muchas más posibilidades y aplicaciones. Esta nueva alternativa es una manera moderna, original, dinámica y eficaz para invitar a tus seres queridos a tu gran día.</p>
                  <div class="divider wow fadeInLeftSmall" data-wow-delay=".2s"></p>
                    <a class="button button-default-outline" href="#" style="color: #212121; margin-top: 40px; letter-spacing: 2px; border-color: #8e8e8e !important; ">Ver ejemplo</a>
                  </div>
                </article>
              </div>
          </div>
      </section>

      <!-- My Best Photos -->
      <section class="section text-center" style="background-color: #E7DED7; margin-top:60px;" >
        <div style="height: 50px;"></div>
        <div>
        <h3 style="font-family: 'Playfair Display', serif; letter-spacing: 2px;  font-weight: normal; font-style: italic;">¿Cómo se ven las invitaciones digitales?</h3>
        </div>
        <!-- Slick Carousel-->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'base/images/carrusel.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'base/images/carrusel.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'base/images/carrusel.png' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
    </div>
  

    
    <!-- Eventos -->
    <section class="section section-md" style="background-color: #EFF0F2;">
      <div class="shell">
        <div class="range range-50 range-sm-center range-md-left">
          <div class="cell-sm-6 cell-md-5">
            <div class=""><img src="{% static 'base/images/eventos.png' %}" alt=""/>
            </div>
          </div>
          <div class="cell-sm-6 cell-md-7">
            <div class="box-width-3 box-centered">
              <article class="quote-big">
                <p style="font-family: 'Montserrat', sans-serif, Arial, sans-serif; font-size: 25px; font-style: italic; margin-bottom: 23px; ">MeetingInvitation <br> Celebra tus eventos con invitaciones únicas y especiales.</p>
              </article>
              <div class="divider"></div>
              <p class="text-spacing-05" style="font-family: 'Montserrat', sans-serif, Arial, sans-serif; font-style: italic; font-size: 20px;"> ✦ Bodas <br> ✧ XV años <br> ✦ Baby shower <br> ✧ Fiestas infantiles <br> ✦ Graduaciones <br> ✧ Fiestas infantiles</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'layouts/partesinvitacion.html' %}

     <!-- QUIENES SOMOS -->
      <section class="section section-md" style="background-color: #EFF0F2;">
        <div class="shell">
          <div class="range range-50 range-sm-center range-md-left">
            <div class="cell-sm-6 cell-md-8">
              <div class="box-width-3 box-centered">
                <article class="quote-big">
                  <h3 style="font-family: 'Playfair Display', serif; letter-spacing: 2px;  font-weight: normal; font-style: italic;">¿Quiénes somos?</h3>
                </article>
                <div class="divider"></div>
                <p style="font-family: 'Montserrat', sans-serif, Arial, sans-serif; font-size: 18px; font-style: italic; margin-bottom: 23px;">En MeetingInvite, creamos invitaciones digitales personalizadas para eventos especiales. Nuestro equipo de diseñadores transforma tus ideas en invitaciones únicas y atractivas. Simplificamos el proceso y te ofrecemos comodidad y flexibilidad. Únete a nuestra comunidad y haz que tus eventos sean inolvidables desde el principio.</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-4">
              <div class="thumb-bordered"><img src="{% static 'base/images/quienes-somos.jpg' %}" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </section>


      {% include 'layouts/footer.html' %}
   






    <!-- RD Navbar-->

    <div class="container">
      {% if messages %} {% for message in messages %}
      <div
        class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} 
      {% endif %}

      <!-- {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %} -->
    </div>
    <!-- /container -->

    {% block modal %}
    {% endblock modal %} 
    {% block inline_javascript %} 
    {% comment %} Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        /* Run whatever you want */
      });
    </script>
    {% endcomment %} 
    {% endblock inline_javascript %}

    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{% static 'base/js/core.min.js' %}"></script>
    <script src="{% static 'base/js/script.js' %}"></script>

  </body>
</html>
