{% extends 'layouts/base.html' %}
{% load static %}
<!-- Boostrap -->
<style>
  #countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: Arial, sans-serif;
  }

  .countdown-element-meetinginvite {
    padding: 0 20px;
    background-color: whitesmoke;
    font-size: 50px;
  }

  body {

  }

</style>
{% block content %}
  <main>

    {% include 'includes/pre-loader.html' %}


    <!-- Hero -->
    <section class="section-header-image" id="hero">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-12 col-md-12 col-lg-12 text-center text-md-left">
            <img src="{% static 'assets/img/HEADER.jpg' %}" alt="header-img">
            <body style="background: url('https://www.publicdomainpictures.net/pictures/290000/velka/flower-background-1547493411w11.jpg') top center !important;">
            <div class="container py-4 py-xl-5">
              <h1 style="text-align: center;">¡Nos casamos!</h1>
              <div class="row gy-4 row-cols-2 row-cols-md-4">
                <div class="col">
                  <div class="text-center d-flex flex-column justify-content-center align-items-center py-3 card shadow">
                    <div class="px-3">
                      <h2 class="fw-bold mb-0" id="days"></h2>
                      <p class="mb-0">Días</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="text-center d-flex flex-column justify-content-center align-items-center py-3 card shadow">
                    <div class="px-3">
                      <h2 class="fw-bold mb-0" id="hours"></h2>
                      <p class="mb-0">Horas</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="text-center d-flex flex-column justify-content-center align-items-center py-3 card shadow">
                    <div class="px-3">
                      <h2 class="fw-bold mb-0" id="minutes"></h2>
                      <p class="mb-0">Minutos</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="text-center d-flex flex-column justify-content-center align-items-center py-3 card shadow">
                    <div class="px-3">
                      <h2 class="fw-bold mb-0" id="seconds"></h2>
                      <p class="mb-0">Segundos</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </body>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Hero section -->
    <!-- Section -->

    <section class="section section-lg">
      <div class="container">
        <div class="row mb-5 mb-lg-6">
          <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
            <h2 id="wherewhen" class="h1 mb-4">¿Dónde y Cuándo?</h2>
          </div>
        </div>
        {% for place in object.invitation.place_set.all %}
          <div class="row mb-5 mb-lg-6">
            <div class="col-12 col-md-6 col-lg-6 mb-6 mb-lg-6">
              <div class="card shadow border-gray-300">
                <img src="{% static 'assets/img/CEREMONIA1-IMGiglesia.jpg' %}" class="card-img-top rounded-top"
                     alt="Joseph Portrait">
                <div class="card-body">
                  <h3 class="h4 card-title mb-2">Ceremonia religiosa</h3>
                  <span class="card-subtitle text-gray fw-normal">{{ place.ceremony_name }} </span>
                  <p class="card-text my-3"><strong>Cuándo:</strong> {{ place.ceremony_when }} </p>
                  <p class="card-text my-3"><strong>Dirección:</strong> {{ place.ceremony_address }}</p>
                  <div class="card-text my-3">
                    <div class="row">
                      <div class="col-12">
                        <a class="btn btn-primary" type="button" role="button" target="_blank"
                           href="{{ place.ceremony_map }}">
                                            <span class="me-1"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                    height="16" fill="currentColor"
                                                                    class="bi bi-geo-alt"
                                                                    viewBox="0 0 16 16">
                                                    <path
                                                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                                    <path
                                                      d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                                </svg></span>
                          Mapa
                        </a>
                        <button class="btn btn-primary" type="button">
                          Agendar en el calendario
                          <span class="ms-1"><span class="fas fa-book-open"></span></span>
                        </button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-6 mb-lg-6">
              <div class="card shadow border-gray-300">
                <img src="{% static 'assets/img/CEREMONIA2-IMGhotel.webp' %}" class="card-img-top rounded-top"
                     alt="Bonnie portrait">
                <div class="card-body">
                  <h3 class="h4 card-title mb-2">Recepción</h3>
                  <span class="card-subtitle text-gray fw-normal">{{ place.reception_name }} </span>
                  <p class="card-text my-3"><strong>Cuándo:</strong> {{ place.reception_when }} </p>
                  <p class="card-text my-3"><strong>Dirección: </strong>{{ place.reception_address }}</p>
                  <div class="card-text my-3">
                    <div class="row">
                      <div class="col-12">
                        <a class="btn btn-primary" type="button" role="button" target="_blank"
                           href="{{ place.reception_map }}">
                                            <span class="me-1"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                    height="16" fill="currentColor"
                                                                    class="bi bi-geo-alt"
                                                                    viewBox="0 0 16 16">
                                                    <path
                                                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                                    <path
                                                      d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                                </svg></span>
                          Mapa
                        </a>


                        <button class="btn btn-primary" type="button">
                          Agendar en el calendario
                          <span class="ms-1"><span class="fas fa-book-open"></span></span>
                        </button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="row mb-5 mb-lg-6">
          <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
            <h2 id="gallery_invitation" class="h1 mb-4">Galeria de fotos</h2>
          </div>
          <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% if object.invitation.carrousel_img_1 %}
                <div class="carousel-item active">
                  <img src="{{ MEDIA_URL }}{{ object.invitation.carrousel_img_1 }}" class="d-block w-100"
                       alt="...">
                </div>
              {% endif %}
              {% if object.invitation.carrousel_img_2 %}
                <div class="carousel-item">
                  <img src="{{ MEDIA_URL }}{{ object.invitation.carrousel_img_2 }}" class="d-block w-100"
                       alt="...">
                </div>
              {% endif %}
              {% if object.invitation.carrousel_img_3 %}
                <div class="carousel-item">
                  <img src="{{ MEDIA_URL }}{{ object.invitation.carrousel_img_3 }}" class="d-block w-100"
                       alt="...">
                </div>
              {% endif %}
              {% if object.invitation.carrousel_img_4 %}
                <div class="carousel-item">
                  <img src="{{ MEDIA_URL }}{{ object.invitation.carrousel_img_4 }}" class="d-block w-100"
                       alt="...">
                </div>
              {% endif %}
              {% if object.invitation.carrousel_img_5 %}
                <div class="carousel-item">
                  <img src="{{ MEDIA_URL }}{{ object.invitation.carrousel_img_5 }}" class="d-block w-100"
                       alt="...">
                </div>
              {% endif %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade"
                    data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselFade"
                    data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="row mb-5 mb-lg-6 card" style="background-color: #fbc1c1;">
          <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
            <h2 class="h1 mb-4 text-center">{{ party.name }} </h2>
            <h3 class="h1 mb-4">{{ party.adult }} adultos</h3>
            <h5 class="h1 mb-4">{{ party.comments }}</h5>
          </div>
        </div>

        <div class="row mb-5 mb-lg-6">
          <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
            <h2 class="h1 mb-4">Mis padres</h2>
          </div>
        </div>
        <section class="section section-lg pb-0">
          <div class="container">
            <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
              <h2 id="gifts" class="h1 mb-4">Mesa de regalos <span class="h1 icon-tertiary"><span
                class="fas fa-gift me-2"></span></span>
              </h2>

              <p class="text my-6">
                Tu compañía es, definitivamente, mi mejor regalo. Pero si quieres obsequiarme algo adicional, ésta es
                una sugerencia:
            </div>

            <div class="section section-md">
              <div class="container">
                <div class="row mb-5">
                  <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow">
                      <a href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51055060" target="_blank">
                        <img src="{% static 'assets/img/Liverpool.jpg' %}" class="d-block w-100"
                             alt="...">
                      </a>
                      <div class="card-body">
                        <h3 class="h5 card-title mt-3">#Numero</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow">
                      <a href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51055060" target="_blank">
                        <img src="{% static 'assets/img/Palacio.jpg' %}" class="d-block w-100"
                             alt="...">
                      </a>
                      <div class="card-body">
                        <h3 class="h5 card-title mt-3">#Numero</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow">
                      <a href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51055060" target="_blank">
                        <img src="{% static 'assets/img/Sears.png' %}" class="d-block w-100"
                             alt="...">
                      </a>
                      <div class="card-body">
                        <h3 class="h5 card-title mt-3">#Numero</h3>
                      </div>
                    </div>
                  </div>


                  <div class="col-12 mt-5">
                    <div class="card shadow mb-6">
                      <div class="card-body px-5 py-5 text-center text-md-left">
                        <div class="row align-items-center">
                          <div class="col-md-6">
                            <h2 class="mb-3">Datos bancarios para transferencia</h2>
                            <p class="mb-0">
                              Si no tienes idea que regalarme “Lluvia de sobres” es una tradición de regalar dinero en
                              efectivo a la
                              quinceañera.
                            </p>
                            <div class="mb-2 mb-md-3">
                              <br class="text-center">
                              <p>Bancomer</p>
                              <p>4152 3140 1620 4102</p>
                              <p>Estefania Itzel Sagahón Gallegos </p>
                            </div>

                          </div>
                          <div class="col-md-6">
                            <div class="mb-2 mb-md-3">
                              <img src="{% static 'assets/img/transferencias.webp' %}" class="d-block w-100"
                                   alt="...">

                            </div>

                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">

          <div class="testimonial-item">
            <h3><span class="h1 icon-tertiary"><span><img src="{% static 'bootstrap-icons/instagram-white.svg' %}"
                                                          alt="Bootstrap" width="64" height="64"></span></span></h3>
            <h3>#MISXV</h3>
          </div>


        </section><!-- End Testimonials Section -->


        <section id="testimonials" class="testimonials2">

          <div class="testimonial-item">
            <h3 id="confirmation">Confirmar asistencia</h3>
            <h4>Por favor confirmar tu asistencia con tu nombre completo en la presente invitación a Chandelier
              eventos</h4>
            <a
              href="https://api.whatsapp.com/send?phone=5219934294179&text=Confirmo asistencia al evento de Estefanía. Mi Nombre es"
              style="display: inline-block; padding:16px; border-radius: 8px; background-color: #25D366; color: #fff; text-decoration: none; font-family: sans-serif; font-size: 16px;">Confirmar
              ahora</a>
          </div>


        </section><!-- End Testimonials Section -->

        <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
            <!-- Contact Card -->
            <div class="card border-0 p-2 p-md-3 p-lg-5">
              <div class="card-header bg-white border-0 text-center">
                <h2>Want to work with us?</h2>
                <p>Cool! Let’s talk about your project</p>
              </div>
              <div class="card-body pt-0">
                <form action="#">
                  <!-- Form -->
                  <div class="mb-4">
                    <label for="name">Your Name</label>
                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon3"><span
                                          class="fas fa-user-circle"></span></span>
                      <input type="text" class="form-control" placeholder="e.g. Bonnie Green"
                             id="name" required>
                    </div>
                  </div>
                  <!-- End of Form -->
                  <!-- Form -->
                  <div class="mb-4">
                    <label for="email">Your Email</label>
                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon4"><span
                                          class="fas fa-envelope"></span></span>
                      <input type="email" class="form-control" placeholder="example@company.com"
                             id="email" required>
                    </div>
                  </div>
                  <!-- End of Form -->
                  <div class="mb-4">
                    <label for="message">Your Message</label>
                    <textarea placeholder="Your message" class="form-control" id="message" rows="4"
                              required></textarea>
                  </div>
                  <!-- End of Form -->
                  <div class="d-grid">
                    <button type="submit" class="btn btn-secondary">Send message</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- End of Contact Card -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of section -->
  </main>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>


  <script>
    // Set the date we're counting down to
    var countDownDate = new Date("{{ object.invitation.date_until_event.isoformat }}").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

      // Get todays date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="countdown"
      document.getElementById("days").innerHTML = days;
      document.getElementById("hours").innerHTML = hours;
      document.getElementById("minutes").innerHTML = minutes;
      document.getElementById("seconds").innerHTML = seconds;

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "EXPIRADO";
      }
    }, 1000);
  </script>




{% endblock content %}

{% block footer %}


{% endblock footer %}
