/**
* Project : simply-countdown
* File : simplyCountdown.theme.custom
* Author : Your Name <YourMail@example.com>
*/

.simply-countdown{
    overflow:hidden;
    display:table;
    font-family:'Arial',sans-serif
}

.simply-countdown>.simply-section{
    width:50px;
    height:50px;
    padding:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    float:left;
    margin:15px;
    background:#fff3f3!important;
    box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    color:rgb(12, 12, 12)!important;


}

.simply-countdown > .simply-section > div {
    /* countdown block inner div */
    
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
    /* amounts and words */
    color:rgb(12, 12, 12)!important;    
    font-weight:700;
    text-align:center

}
    


.simply-countdown > .simply-section .simply-amount {
    /* amounts */
    color:rgb(12, 12, 12)!important;    
    font-weight:700;
    text-align:center
}

.simply-countdown > .simply-section .simply-word {
    /* words */
    color:rgb(12, 12, 12)!important;
    font-weight:700;
    text-align:center    
}
